
<div id="main-page" class="main" [class]="theme">
  <app-toolbar [title]="'Network Launch Readiness'" (resultTheme)="theme=$event"></app-toolbar>
  <mat-card class="main-body">
    <router-outlet></router-outlet>

<!--    <button style="margin-right: 5px; margin-top: 10px" mat-raised-button color="accent" [routerLink]="'shopping/dc'">{{lang.ln('mainPage.shoppingDC')}}</button>-->
<!--    <button mat-raised-button color="accent" [routerLink]="'dashboard'">{{lang.ln('mainPage.dashboard')}}</button>-->



    <!--    <button mat-raised-button color="accent" (click)="changeTheme('second-theme')">Theme1</button>-->
<!--    <button mat-button (click)="changeTheme('third-theme')">Theme1</button>-->
  </mat-card>
</div>
