<div class="dashboard">
  <div class="dashboard-header">
    <div class="dashboard-header-left">
      <div class="dashboard-header-left-box" *ngFor="let item of headerWidgets" (click)="maximizeWidget(item)">
        <app-header-widget
          [data]="item">
        </app-header-widget>
<!--        <app-widget-box [class.dashboard-widget-box-max]="item.maximize" *ngIf="item.maximize" [data]="item"></app-widget-box>-->
      </div>
    </div>
    <div class="dashboard-header-right">
      <i style="margin-right: 8px" class="material-icons material-icons-btn">local_printshop</i>
      <i style="margin-right: 8px" class="material-icons material-icons-btn">insert_drive_file</i>
      <i style="margin-right: 8px" class="material-icons material-icons-btn">more_horiz</i>
    </div>
  </div>
  <div class="dashboard-body">
    <div class="dashboard-body-left">
      <div class="dashboard-body-left-container">
        <ng-container *ngFor="let item of summeries">
          <div class="dashboard-body-left-box" [style.boxShadow]="item.selected?'0 0 3px 0px red':null" (click)="selectSummuries(item)">
            <div class="dashboard-body-left-box-part1">
              <label>{{item.title}}</label>
              <label [style.color]="item.kpiStatus">{{item.kpiValue}}</label>
            </div>
            <div class="dashboard-body-left-box-part2">
              <label [style.color]="item.trendStatus">{{item.trend}}
                <i class="material-icons">arrow_drop_up</i>
              </label>
              <label>Target {{item.target}}</label>
              <label>Achievement {{item.achievement}}</label>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="dashboard-body-left-btn">
        <app-button btnType="circle-simple" iconName="chevron_left" (clickButton)="prevNextSummuries('prev')"></app-button>
        <app-button btnType="circle-simple" iconName="chevron_right" (clickButton)="prevNextSummuries('next')"></app-button>
      </div>
<!--      <div class="dashboard-body-menu-item"-->
<!--        *ngFor="let menu of menus">-->
<!--        <label>{{lang.ln(menu.name)}}</label>-->
<!--        <div class="dashboard-body-menu-subItem"-->
<!--          *ngFor="let subMenu of menu.children">-->
<!--          {{lang.ln(subMenu.name)}}-->
<!--          <i *ngIf="subMenu.children && subMenu.children.length" class="material-icons">arrow_right</i>-->
<!--        </div>-->
<!--      </div>-->
<!--      <app-button btnType="simple" [value]="'New Dashboard'" (clickButton)="addDashboardModal=true"></app-button>-->
    </div>
    <div class="dashboard-body-grid"
         [style.width]="openChatMessenger?'calc(100% - 572px)' : 'calc(100% - 266px)'"
         cdkDropListGroup>
      <div cdkDropList
           [cdkDropListData]="i"
           class="dashboard-widget-box"
           [ngStyle]="{'width': item.width, 'height': item.height, 'min-width': item.minWidth}"
           *ngFor="let item of widgets; let i = index">
<!--        <div *ngIf="item.visible"-->
<!--             >-->
<!--             [ngStyle]="{'width': item.width, 'height': item.height}">-->
          <!--        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>-->
<!--            [class.dashboard-widget-box-max]="item.maximize"-->
          <app-widget-box
            cdkDrag
            [cdkDragData]="i"
            (cdkDragDropped)="entered($event)" *ngIf="item.visible && item.data"
            [data]="item"
            [title]="item.title"
            (resultRowData)="returnRowData($event)"
            (maximizeClick)="maximizeWidget(item)"
            (removeClick)="removeItem(item)">
            <div widget-buttons>
              <i class="material-icons material-icons-widget" *ngIf="!item.maximize" cdkDragHandle>open_with</i>
            </div>
          </app-widget-box>
<!--        </div>-->
      </div>
      <div class="dashboard-body-addWidget">
        <app-button
          [btnType]="'icon'"
          [iconName]="'add'"
          [iconSize]="'26px'"
          [bgColor]="'#ddd'"
          [size]="{width: '40px', height: '40px'}"
          (clickButton)="addModalWidget()">
        </app-button>
      </div>
    </div>
    <div class="dashboard-body-right" *ngIf="openChatMessenger"
         [style.transform]="!openChatMessenger ? 'translate(320px)' : null">
      <app-messenger
        [chatMessage]="chatMessage.text"
        [chatUpdate]="chatMessage.chatUpdate"
        (closeChat)="closeChatMessenger($event)">
      </app-messenger>
    </div>
  </div>

  <ng-container *ngIf="addWidgetModal">
    <app-modal
      (closeModal)="closeModal('addWidgetModal')"
      [showFooter]="false"
      [modalSize]="'middle'"
      [title]="'Add Widget'">
      <div modal-container class="modal-body">
        <div class="dashboard-widgetList">
          <div class="dashboard-widgetList-item" *ngFor="let item of widgets">
            {{item.title}}
            <app-button
              [btnType]="'simple-icon'"
              [iconName]="item.visible ? 'remove' : 'add'"
              [iconSize]="'18px'"
              [size]="{width: '25px', height: '25px'}"
              (clickButton)="insertWidget(item)">
            </app-button>
          </div>
        </div>

      </div>
    </app-modal>
  </ng-container>
  <ng-container *ngIf="addDashboardModal">
    <app-modal
      (closeModal)="closeModal('addDashboardModal')"
      [showFooter]="false"
      [modalSize]="'large'"
      [title]="'Add Dashboard'">
      <div modal-container class="modal-body">
        <div class="dashboard-modal">
          <div class="dashboard-body-menu">
            <div class="dashboard-body-menu-item"
                 *ngFor="let menu of menus" (click)="currentDashboardObj = menu;">
              <label>{{lang.ln(menu.name)}}</label>
              <div class="dashboard-body-menu-subItem"
                   *ngFor="let subMenu of menu.children">
                {{lang.ln(subMenu.name)}}
                <i *ngIf="subMenu.children && subMenu.children.length" class="material-icons">arrow_right</i>
              </div>
            </div>
          </div>

          Name <input [(ngModel)]="dashboardObj.name">
          <app-button btnType="simple" value="Add " (clickButton)="insertDashboardItem()"></app-button>
        </div>
      </div>
    </app-modal>
  </ng-container>

  <ng-container *ngIf="addWidgetModal">
    <app-modal
      (closeModal)="closeModal('addWidgetModal')"
      [showFooter]="false"
      [modalSize]="'middle'"
      [title]="'Add Widget'">
      <div modal-container class="modal-body">
        <div class="dashboard-widgetList">
          <div class="dashboard-widgetList-item" *ngFor="let item of widgets">
            {{item.title}}
            <app-button
              [btnType]="'simple-icon'"
              [iconName]="item.visible ? 'remove' : 'add'"
              [iconSize]="'18px'"
              [size]="{width: '25px', height: '25px'}"
              (clickButton)="insertWidget(item)">
            </app-button>
          </div>
        </div>

      </div>
    </app-modal>
  </ng-container>
  <ng-container *ngIf="maxWidget.active">
    <app-modal
      [showFooter]="false"
      [type]="'empty'"
      [modalSize]="'large'">
      <div modal-container class="modal-body" >
        <app-widget-box
          [actions]="{max: false, close: true, report: true}"
          [title]="maxWidget.currentWidget.title"
          (resultRowData)="returnRowData($event)"
          (removeClick)="maxWidget.active = false"
          [data]="maxWidget.currentWidget"></app-widget-box>
      </div>
    </app-modal>
  </ng-container>
</div>
