@import "~src/style/mixin";
.header-widget {
  width: 200px;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  @include flex-content(space-between, flex-start);
}
.header-widget-title {
  max-width: 35px;
  margin: 5px;
}
.header-widget-chart {
  width: 160px;
  padding: 0 10px;
}
