@import "~src/style/mixin.scss";
.sticky {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  @include flex-content(flex-start, flex-start);
  flex-direction: column;
  padding: 5px;
}
.sticky-row {
  margin-top: 10px ;
  color: gray;
  .title {
    margin: 2px 0;
    font-size: 9pt;
  }
  .icon {
    width: 50px;
    @include flex-content(space-between);
    i {
      font-size: 18px;
    }
  }

}
