<div *ngIf="showOverlay" class="public-overlay"></div>
<div [class]="modalSize ? 'public-modal-'+modalSize : 'public-modal'"
     [style.max-width]="modalMaxWidth"
     [style.min-width]="modalMinWidth"
     [style.mxn-height]="modalMinHeight"
     [style.min-height]="modalMinHeight"
     [ngStyle]="{'height': maximize?'100%': modalHeight? modalHeight: null, 'min-height': modalMinHeight? modalMinHeight: null, 'width': maximize?'100%': modalWidth? modalWidth: null}">
  <div class="public-modal-header" [appDraggableGrid]="true" *ngIf="type!=='empty'">
    <span class="header">{{title}}</span>
    <span class="public-close" >
      <app-button *ngIf="isHelp.visible"
                  btnType="circle-simple"
                  textColor="black"
                  [size]="{height: '38px', width: '38px'}"
                  [iconName]="'help_outline'"
                  (clickButton)="showMessageBox()">
      </app-button>
      <app-button *ngIf="isMaximize.visible"
                  btnType="circle-simple"
                  textColor="black"
                  [size]="{height: '38px', width: '38px'}"
                  [iconName]="maximize?'fullscreen_exit':'fullscreen'"
                  (clickButton)="maximize = !maximize">
      </app-button>
      <app-button btnType="circle-simple"
                  textColor="black"
                  [size]="{height: '38px', width: '38px'}"
                  iconName="clear"
                  (clickButton)="closeModalEvent()">
      </app-button>
    </span>
  </div>
  <div class="public-modal-message">
    <ng-content select="[modal-message]"></ng-content>
  </div>
  <div class="public-modal-main"
       [style.height]="!showFooter ? 'calc(100% - 60px)' : null"
       [class.empty]="type==='empty'">
    <ng-content select="[modal-container]"></ng-content>
  </div>
  <div class="public-modal-btn" *ngIf="showFooter&&type!=='empty'">
    <ng-content select="[modal-footer]"></ng-content>
  </div>
</div>

