<div class="initiate">
  <div class="initiate-container">
    <div class="initiate-loading">
      <div class="initiate-loading-container">
        <div class="wave">
          <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <label>
           Page is loading, Please be patient...
        </label>
      </div>
    </div>
    <div class="pan-overlay">
      <div class="pan-overlay-container">
        <div>
          <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <label>
          Your Internet Connection Has Been Disconnected
        </label>
        <label>
          Please Check Your Internet Connection
        </label>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
