@import '~@angular/material/theming';
@include mat-core();
$bv-brand: (
  50: #ffffff,
  100: #dde6f3,
  200: #b4c9e4,
  300: #7fa3d1,
  400: #6992c9,
  500: #5282c1,
  600: #4072b4,
  700: #38649d,
  800: #305687,
  900: #284770,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$default-primary: mat-palette($bv-brand, 50);
$default-dashboard: mat-palette($bv-brand, 200);
$default-accent: mat-palette($mat-indigo, 200);
$default-theme: mat-light-theme($default-primary, $default-accent);
.default-theme {
  @include angular-material-theme($default-theme);
}

$second-primary: mat-palette($mat-pink, 600);
$second-accent: mat-palette($mat-pink, 200);
$second-theme: mat-light-theme($second-primary, $second-accent);
.second-theme {
  @include angular-material-theme($second-theme);
  @include mat-button-theme($second-theme);
}

$third-primary: mat-palette($mat-blue, 800);
$third-accent: mat-palette($mat-grey, 50);
$third-theme: mat-dark-theme($third-primary, $third-accent);
.third-theme {
  @include angular-material-theme($third-theme);
  @include mat-button-theme($third-theme);
}

$forth-primary: mat-palette($mat-pink, 800);
$forth-accent: mat-palette($mat-grey, 500);
$forth-theme: mat-dark-theme($forth-primary, $forth-accent);
.forth-theme {
  @include angular-material-theme($forth-theme);
  @include mat-button-theme($forth-theme);
}
