@font-face {
  font-family: rakuten;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/resources/fonts/RakutenGlobal-R.otf');
  src: url('../assets/resources/fonts/RakutenGlobal-R.otf?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../assets/resources/fonts/RakutenGlobal-R.woff') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
  font-family: rakuten;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/resources/fonts/RakutenGlobal-R.otf');
  src: url('../assets/resources/fonts/RakutenGlobal-R.otf?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../assets/resources/fonts/RakutenGlobal-R.woff') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
  font-family: rakuten;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/resources/fonts/RakutenGlobal-R.otf');
  src: url('../assets/resources/fonts/RakutenGlobal-R.otf?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../assets/resources/fonts/RakutenGlobal-R.woff') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}
@font-face {
  font-family: rakuten;
  font-style: normal;
  font-weight: bold;
  src: url('../assets/resources/fonts/RakutenGlobal-B.otf');
  src: url('../assets/resources/fonts/RakutenGlobal-B.otf?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../assets/resources/fonts/RakutenGlobal-B.woff') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}
//@font-face {
//  font-family: IRANSans;
//  font-style: normal;
//  font-weight: bold;
//  src: url('../assets/resources/fonts/iran-sans/eot/IRANSansWeb_Bold.eot');
//  src: url('../assets/resources/fonts/iran-sans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
//  url('../assets/resources/fonts/iran-sans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
//  url('../assets/resources/fonts/iran-sans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
//  url('../assets/resources/fonts/iran-sans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
//}
