<div class="button" [ngStyle]="{'width': size.width, 'min-width': size.width, 'height': size.height}">
  <button class="button-style" mat-raised-button
          *ngIf="btnType === 'default'"
          [style.background-color]="bgColor"
          [style.color]="textColor"
          [matTooltip]="tooltip"
          [ngStyle]="{'width': size.width, 'min-width': size.width, 'height': size.height}"
          color="bgColor"
          disabled="{{isDisabled}}"
          style.cursor="{{isDisabled?'not-allowed':null}}"
          style.font-size="{{textSize}}"
          (click)="click()"
          style.width="{{size.width}}">
    {{value}}
    <i *ngIf="iconName"  style.font-size="{{iconSize}}" class="material-icons">{{iconName}}</i>
  </button>

  <button mat-button
          *ngIf="btnType === 'simple'||btnType == 'circle-simple'||btnType == 'square-simple'"
          disabled="{{isDisabled}}"
          (click)="click()"
          [class.circle-button]="btnType === 'circle-simple'"
          [class.square-button]="btnType === 'square-simple'"
          [ngStyle]="{'width': size.width, 'min-width': size.width, 'height': size.height}"
          style.background-color="{{bgColor}}"
          [matTooltipPosition]="'below'"
          matTooltip="{{tooltip}}">
    {{value}}
    <i *ngIf="iconName"
       style.font-size="{{iconSize}}"
       [style.color]="isDisabled?'#72727261':textColor||'#727272'"
       class="material-icons">{{iconName}}</i>
  </button>

  <button class="button-style button-icon"
          *ngIf="btnType === 'icon-border'"
          mat-mini-fab style.background-color="{{bgColor}}"
          style.color="{{textColor}}"
          matTooltip="{{tooltip}}"
          color="{{bgColor}}"
          (click)="click()"
          style.cursor="{{isDisabled?'not-allowed':null}}"
          disabled="{{isDisabled}}">
    <i style.font-size="{{iconSize}}" class="material-icons">{{iconName}}</i>
  </button>

  <button class="button-style button-icon"
          *ngIf="btnType === 'icon'"
          mat-icon-button
          style.background-color="{{bgColor}}"
          style.color="{{textColor}}"
          matTooltip="{{tooltip}}"
          color="{{bgColor}}"
          (click)="click()"
          style.cursor="{{isDisabled?'not-allowed':null}}"
          disabled="{{isDisabled}}">
    <i style.font-size="{{iconSize}}" class="material-icons">{{iconName}}</i>
  </button>

  <button *ngIf="btnType === 'custom'"
          mat-button
          style.background-color="{{bgColor}}"
          style.color="{{textColor}}"
          matTooltip="{{tooltip}}"
          color="{{bgColor}}"
          (click)="click()"
          [ngStyle]="{'width': size.width, 'min-width': size.width, 'height': size.height}"
          style.cursor="{{isDisabled?'not-allowed':null}}"
          disabled="{{isDisabled}}">
    <ng-content select="[btn-content]"></ng-content>
  </button>
  <div id="{{btnId}}" class="btn-disable"></div>
  <!--<mat-spinner id="{{spinnerId}}" [diameter]="25" class="btn-spinner"></mat-spinner>-->
  <div  id="{{spinnerId}}" class="sk-fading-circle btn-spinner">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
</div>
