<mat-toolbar class="toolbar" color="primary" id="toolbar">
  <mat-toolbar-row class="toolbar-row" style="padding: 0 10px">
    <div class="toolbar-row-left">
      <img
        src="assets/resources/logo/logo.svg"
        alt="Rakuten"/>
      <div style="margin-left: 30px" [matMenuTriggerFor]="apps" mat-button>
<!--      <div style="margin-left: 30px" [matMenuTriggerFor]="apps" mat-button (click)="menuOpened=!menuOpened">-->
        <div class="col">
          <div class="con">
            <div class="bar top" [ngClass]="{
              'bar-active': menuOpened,
              'top-active': menuOpened
            }"></div>
            <div class="bar middle" [ngClass]="{
              'bar-active': menuOpened,
              'middle-active': menuOpened
            }"></div>
            <div class="bar bottom" [ngClass]="{
              'bar-active': menuOpened,
              'bottom-active': menuOpened
            }"></div>
          </div>
        </div>
      </div>
      <mat-menu class="menu-item" #apps="matMenu">
        <button mat-menu-item  [routerLink]="'dashboard'">{{lang.ln('mainPage.dashboard')}}</button>
        <button mat-menu-item  [routerLink]="'shopping/dc'">{{lang.ln('mainPage.shoppingDC')}}</button>
      </mat-menu>
    </div>
    <div class="toolbar-row-right">
      <button style="margin-right: 12px" mat-icon-button >
        <i style="margin-right: 12px" class="material-icons">home</i>
      </button>
      <button style="margin-right: 12px" mat-icon-button>
        <i style="margin-right: 12px" class="material-icons">notifications</i>
      </button>
      <button style="margin-right: 12px" mat-icon-button (click)="requestFullScreen()">
        <i class="material-icons">{{fullScreen?'fullscreen_exit':'crop_free'}}</i>
      </button>
      <button style="margin-right: 12px" mat-icon-button [matMenuTriggerFor]="colorMenu">
        <i class="material-icons">format_color_fill</i>
      </button>
      <mat-menu class="menu-item" #colorMenu="matMenu">
        <button mat-menu-item *ngFor="let item of colorStyle" (click)="changeTheme(item)">
          <i class="material-icons" [style.color]="item.color">
            {{item.icon}}
          </i>
            {{item.label}}
        </button>
      </mat-menu>
      <div class="toolbar-row-right-account">
        <i style="font-size: 24pt" class="material-icons">person</i>
      </div>
      <div class="toolbar-row-right-language">
        <mat-menu class="menu-item" #languageMenu="matMenu">
          <button mat-menu-item *ngFor="let item of languageList" (click)="changeLanguage(item)">
            <label> {{item.text}}</label>
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="languageMenu">
          <label>{{selectedLanguage.text}}
            <i class="material-icons">keyboard_arrow_down</i>
          </label>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
