@import "~src/style/mixin.scss";
.toolbar {
  width: 100%;
  height: 63px;
  min-height: 50px;
}
.toolbar-row {
  @include flex-content(space-between);
}
.toolbar-row-left, .toolbar-row-right {
  width: fit-content;
  height: 100%;
  @include flex-content();
}
.toolbar-row-right-account {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #b9b9b973;
  background-color: #b9b9b930;
  @include flex-content();
}
.menu-item-btn {
    @include flex-content();
}
.toolbar-row-right-language {
  @include flex-content();
  width: 100px;
  button {
    margin: 5px;
    label {
      @include flex-content();
    }
  }
}
/************************menu style *******/
.bar {
  display: block;
  height: 4px;
  width: 35px;
  border-radius: 3px;
  background: #202020;
  margin: 7px auto;
}

.con {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.col {
  display: flex;
  width: fit-content;
  @include flex-content();
  height: auto;
  position: relative;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.bar-active {
  background-color: #c00404;
}

.top-active {
  -webkit-transform: translateY(11px) rotateZ(45deg);
  -moz-transform: translateY(11px) rotateZ(45deg);
  -ms-transform: translateY(11px) rotateZ(45deg);
  -o-transform: translateY(11px) rotateZ(45deg);
  transform: translateY(11px) rotateZ(45deg);
}

.bottom-active {
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -moz-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotateZ(-45deg);
  -o-transform: translateY(-11px) rotateZ(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
}

.middle-active {
  width: 0;
}


