<div class="manu">
  <app-button btnType="circle-simple" [iconName]="iconName" [size]="{width: '25px', height: '25px'}" [iconSize]="'18px'" [matMenuTriggerFor]="menu"></app-button>
  <mat-menu class="menu-item-f" #menu="matMenu" style="text-align: right">
    <button mat-menu-item *ngFor="let item of list" [disabled]="item.active" [style.display]="item.hide?'none':null" (click)="action(item)">
      <label>
        {{item.label}}
      </label>
      <i class="material-icons" *ngIf="item.icon">
        {{item.icon}}
      </i>
    </button>
  </mat-menu>
</div>
